<%- include('../shared/header.ejs') %>

    <main>
      <h2>About</h2>
      <p>CVTC Username: jzarins2</p>
      <p>GitHub: <a href="https://github.com/it-sd/sqc-project-JZarins2324">Fantasy Bank</a></p>
      <p>
        Fantasy Bank's purpose is very simple.  Fantasy Bank offers users a platform to create and store 
        their own or previously existing characters, items, and abilities.  It will also allow users to edit
        the information for their own entries.
      </p>
    </main>
  </body>
</html>