<%- include('../shared/header.ejs') %>

    <main>
      <h2>Help Page</h2>
      <p>Look through this page for any issues you have.  If you cant find the solution for the issue your experiencing <a href="mailto:jzarins2@student.cvtc.edu">reach out</a> to me.</p>
      <h3>How to create an Entry</h3>
      <div>
        <p>1. Click the "Create" link at the top of the page</p>
        <p>2. Select the radio button to the right of the entry type you want to create</p>
        <p>3. Then enter information about your entry in the appropriate field</p>
        <p>4. Once you've done that, the submit button should work</p>
        <p><strong>Note:</strong> if your entry has an apostrophe (') in the text, the entry will not be submitted.</p>
      </div>
      <h3>How to limit the entries displayed to one entry type</h3>
      <div>
        <p>1. Click the "Entries" link at the top of the page</p>
        <p>2. Select one of the entry type under the "Categories:" header</p>
      </div>
      <h3>How to create a pdf of an entry</h3>
      <div>
        <p>1. Navigate to the entry you want to make a pdf of</p>
        <p>2. Click the entry's name</p>
      </div>
    </main>
  </body>
</html>