<%- include('../shared/header.ejs') %>

    <main>
      <h2>Home</h2>
      <p id="info"><strong>Welcome to Fantasy Bank,</strong></p>
      <p>Visit the About page to learn more about Fantasy Bank</p>
      <p>If you're unsure of how to do something on this site, vist the Help page</p>
    </main>
  </body>
</html>